<div class="full-screen flex-container flex-column cor-fundo">
    <div class="full-screen flex-container flex-column" *ngIf="!podeMostrar">
        <span class="fonte-padrao">
            Qual o seu orçamento até o fim do mês? Teste Manu
        </span>
        <input type="tel" [(ngModel)]="orcamento">
        <button (click)="calcular()">
            Testar
        </button>
    </div>
    <div class="mensagem flex-container flex-column" *ngIf="podeMostrar">
        <span class="fonte-padrao" style="margin-bottom: 30px">
            Você pode gastar até R${{resultado}} por dia!
        </span>
       
        <table style="font-size: 15px; margin-bottom: 30px;">
            <tr>
                <th>Dia</th>
                <th>Valor</th>
                <th>Diferença</th>
            </tr>
            <tr *ngFor="let furtherMovement of furtherMovements">
                <th>{{furtherMovement.date}}</th>
                <th>{{furtherMovement.value | currency: 'BRL'}}</th>
                <th>{{furtherMovement.difference | currency: 'BRL'}}</th>

            </tr>
        </table>
        <button (click)="exibirPrimeiraTela()">
            Voltar
        </button>
    </div>
</div>