/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rosarivo&display=swap');

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.tela {
    width: 100vw;
    height: 100vh;
}

.cor-fundo {
    background-color: #8e44ad;
}

span {
    color: white;
}

.fonte-padrao {
    font-family: 'Open Sans', sans-serif;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}
